

<h2>User List</h2>
<input type="text" placeholder="Search" style="height: 20px; margin-bottom: 10px;">

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude </th> <!--<i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i>-->
    <th>Longitude </th>
    <th>Website</th>
  </tr>
  <tr *ngFor="let data of userList">
    <td>{{data?.id}}</td>
    <td>{{data?.name}} ({{data?.username}})</td>
    <td>{{data?.address | address}}</td> <!--Using the pipe to combine the address-->
    <td>{{data?.address?.geo?.lat}}</td>
    <td>{{data?.address?.geo?.lng}}</td>
    <td><a href="{{data?.website}}">{{data?.website}}</a></td>
  </tr>
</table>